.about-container {
    height: 100%;
    width: 98%;
    font-family: sans-serif;
}
.about-container h1 {
    color: rgb(42, 38, 38);
    padding: 7px;
    margin-top: 15px;
    text-align: center;
}
.about-container .frame1 {
    width: 80%;
    max-height: 40%;
    padding: 10px;
    margin-left: 10%;
}
.about-container .frame1 img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.about-container .intro {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.about-container .add {
    padding: 10px;
}
.about-container .add h2 {
    color: rgb(42, 38, 38);
    padding: 7px;
    margin-bottom: 15px;
    text-align: center;
    color: #FC4B37;
}
.about-container .add img {
    width: 80%;
    max-height: 40%;
    padding: 10px;
    margin-left: 10%;
}
.about-container .add .add-info {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.about-container button {
    margin-top: 5px;
    background-color: #FC4B37;
    color: white;
    border: 2px solid rgb(128, 128, 128, 0.2);
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
}
.about-container button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}