.artisan-container {
    display: block;
    padding: 15px 20px;
    height: 60%;
    width: auto;
    color: #FC4B37;
    background-color: white;
}
.artisan-container form {
    align-self:center;
    align-self:center;
    border: 2px solid rgb(128, 128, 128, 0.2);
    width: 50%;
    padding: 25px;
    align-self: center;
    margin-left: 24%;
    margin-right: 24%;
    border-radius: 4px;
}
.artisan-container form h4 {
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
}
.artisan-container form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
}
.artisan-container form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
}
.artisan-container form label {
    font-size: 15px;
    margin-top: 10px;
    color: #FC4B37;
    font-family:sans-serif
}

.artisan-container form #submit {
    margin-top: 5px;
    background-color: #FC4B37;
    color: white;
    border: 2px solid rgb(128, 128, 128, 0.2);
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
}
.artisan-container form .success {
    color: rgb(84, 237, 84);
    font-size: 15px;
    padding: 4px;
}
.artisan-container form .error {
    color: red;
    font-size: 15px;
    padding: 4px;
}